

<div class="column is-half">

<h1 class="title is-2 has-text-primary center-text">Member's Board</h1>
<p class="subtitle is-4 center-text mb-6">Join the club to unveil the authors!</p>

<% @posts.each do | post | %>
  <article class="media">
  <div class="media-content has-background-light card">
    <div class="content">
      <p>
        <% if user_signed_in? %>
        <strong class="has-text-primary	"><%= post.user.email %></strong>
        <br>
        <% end %>
        <%= post.body %>
      </p>
    </div>
  </article>
<% end %>

</div>