

<div class="column is-half">

<h1 class="title is-2 has-text-primary center-text">Member's Board</h1>
<p class="subtitle is-4 center-text mb-6">Join the club to unveil the authors!</p>

  <article class="media">
  <div class="media-content has-background-light card">
    <div class="content">
      <p>
        <strong class="has-text-primary	">John Smith</strong>
        <br>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
      </p>
    </div>
  </article>
</div>